<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find arm_description)/urdf/vendor/realsense/_d435i.urdf.xacro" />

  <xacro:macro name="realsense_d435i_mount" params="parent name:=wrist_camera *origin">
    <xacro:sensor_d435i
      parent="${parent}"
      name="${name}"
      use_nominal_extrinsics="true">
      <xacro:insert_block name="origin" />
    </xacro:sensor_d435i>
  </xacro:macro>
</robot>
